.text {
	&-block {
		& p {
			@include font(1.6rem, calc(22 / 16));
		}
		& p:not(:last-child) {
			margin-bottom: 22px;
		}
		&_sm {
			& p {
				@include font(1.4rem, calc(19 / 14));
			}
			& p:not(:last-child) {
				margin-bottom: 22px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.text {
		&-block {
			& p {
				font-size: 1.4rem;
			}
			& p:not(:last-child) {
				margin-bottom: 18px;
			}
			&_sm {
				& p {
					@include font(1.4rem, calc(19 / 14));
				}
				& p:not(:last-child) {
					margin-bottom: 18px;
				}
			}
		}
	}
}
