// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'NotoSans', Arial, sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$font-color: #000;
$gray-900: #999;
$success: #12b754;
$dark-blue-300: #006f8d;
$blue-300: #00a5d1;
$blue-500: #54c7e5;
$black: #000;
